<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }} - Free HD YouTube Thumbnail Downloader{{ else }}{{ .Title }} | {{ site.Title }}{{ end }}</title>
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ site.Params.description }}{{ end }}">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<script>
  // Prevent Theme FOUC
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>
{{ partial "seo.html" . }}
